update.bat
build/Axois/PYZ-00.pyz
Axois.spec
build/Axois/Analysis-00.toc
build/Axois/Axois.exe.manifest
build/Axois/Axois.pkg
build/Axois/base_library.zip
build/Axois/EXE-00.toc
build/Axois/PKG-00.toc
build/Axois/PYZ-00.toc
build/Axois/Tree-00.toc
build/Axois/Tree-01.toc
build/Axois/Tree-02.toc
build/Axois/warn-Axois.txt
build/Axois/xref-Axois.html
dist/Axois.exe
dist/config.json
dist/A.ico
